@import url('https://fonts.googleapis.com/css?family-Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #000;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p{
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 05rem;
}

.typed-text {

    font-weight: bold;
    color: hotpink;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: white;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink{
    0% {background-color: white;}
    49% {background-color: white;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {
        background-color: white;
    }

}