@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
this ^^ is how you import google fonts

*/
@import url('https://fonts.googleapis.com/css?family=Spectral+SC&display=swap');
/*@import url('https://fonts.googleapis.com/css?family-Montserrat');*/

@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


body, html {
  height: 100%;
  margin: 0;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Pontano Sans', sans-serif;
  line-height: 180%;
  color: #CC9692;
  background-color: black;
  text-align: center;
}

.row {
  display: flex;
}

.column1 {
  flex: 30%;
}

.column2 {
  flex: 70%;
}

.circle {
  max-height: 50%;
  max-width: 50%;
}

.parallax1 {
  background: url("dd2.png");
 
  min-height: 80%;
}

.parallax2 {
  background: url("background.jpg");
  min-height: 30%;
}

.aboutme {
  font-family: 'Libre Baskerville', serif;
  color: white;
  size: 32px;
}

.parallax1{
  position: relative;
  opacity: .80;
  background-position: center;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax2{
  position: relative;
  opacity: .80;
  background-position: center;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.heading {
  position: absolute;
  color: #fff;
  font-size: 550%;
  top: 38%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}
.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}

section {
  overflow: auto;
  padding: 40px 80px;
}

/* title is misleading, it's actually bright now ahaha -- white boxes filled with text*/
.dark {
  overflow: auto;
  /*padding: 50px 80px;*/
  color: white;
}


.diana {
  font-size: 20px;
  color: #CC9692;
}




.emp {
  color: black;
}

@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container p{
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 05rem;
}

.typed-text {

    font-weight: bold;
    color: white;
}

.small-header {
  font-family: 'Courier New';
  font-size: 3rem;
}



h1 {
  text-align: center;
}
.social-menu ul {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: white;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color:black;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
   
 
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #CC9692;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #CC9692;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #CC9692;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #CC9692;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #CC9692;
}

