<head>
  <link rel="stylesheet" href="https://use.typekit.net/lrc3vfy.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="innerContent" style="padding-top: 30px;">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm title">
              
           </div>
        </div>
        <div class ="row">
           <!--need to add space here-->
        </div>

        <div class ="row">
           <!--this is most recent job row-->
           <div class="col-sm-4">
              <div class="half-highlight job-title">Associate Application Developer</div>
              <!-- <div class="bubble">SWE</div> <div class="bubble">back-end</div> <div class="bubble">full-time</div> -->
              <div class="dates"><span class="employer">ADP</span> | Roseland, NJ | AUG 2020 - JUNE 2022
              </div>
              <!--need to restructure this for responsiveness-->
              <mat-chip-list>
               <mat-chip>SWE</mat-chip>
               <mat-chip>BACKEND</mat-chip>
               <mat-chip>FULL STACK</mat-chip>
               <mat-chip>FULL TIME</mat-chip>
               </mat-chip-list>
           </div>
           <div class="col-sm-8 job-description leftBorder">
              <li>Leveraged Angular, SQL, PL/SQL, Java, Spring, Node, and Express to contribute toward
                 a full-stack web application to digitize the I9 process for thousands of employees
                 company-wide
              </li>
              <li>Developed in an Agile environment, participating in iteration planning and biweekly
                 sprints 
              </li>
              <li>Used Oracle E-Business Suite, Toad, SQL, PL/SQL, UFT, and Quest STAT to assist in the
                 automation of sales report generation and compensation 
              </li>
           </div>
        </div>

        <div class ="row">
          <!--this is most recent job row-->
          <div class="col-sm-4">
             <div class="half-highlight job-title">Web Developer</div>
             <!-- <div class="bubble">SWE</div> <div class="bubble">back-end</div> <div class="bubble">full-time</div> -->
             <div class="dates"><span class="employer">Cafe Vienna</span> | Princeton, NJ | MAY 2020 - JUNE 2020
             </div>
             <!--need to restructure this for responsiveness-->
             <mat-chip-list>
               <mat-chip>WEBDEV</mat-chip>
               <mat-chip>FRONT END</mat-chip>
               <mat-chip>DESIGN</mat-chip>
               <mat-chip>FREELANCE</mat-chip>
               </mat-chip-list>
          </div>
          <div class="col-sm-8 job-description leftBorder">
             <li>Utilized HTML, CSS, and Javascript to create and maintain a fully functional website
             </li>
             <li>Designed an eye-catching and user interface to make the website user-friendly and
              accessible              
             </li>
             <li>Used Canva and Photoshop to design and create a logo that is used across the
              company
             </li>
          </div>
       </div>

       <div class ="row">
        <!--this is most recent job row-->
        <div class="col-sm-4">
           <div class="half-highlight job-title">GPT Technology Intern</div>
           <!-- <div class="bubble">SWE</div> <div class="bubble">back-end</div> <div class="bubble">full-time</div> -->
           <div class="dates"><span class="employer">ADP</span> | Roseland, NJ | MAY 2019 - AUG 2019
           </div>
           <!--need to restructure this for responsiveness-->

           <mat-chip-list>
            <mat-chip>SWE</mat-chip>
            <mat-chip>FRONT END</mat-chip>
            <mat-chip>WEBDEV</mat-chip>
            <mat-chip>INTERN</mat-chip>
          </mat-chip-list>
        </div>
        <div class="col-sm-8 job-description leftBorder">
           <li>Used Angular, Bootstrap, Java, and Spring to develop frontend and backend for a file
            utility service that prevents employees from sharing personally identifiable
            information about clients
           </li>
           <li>Collaborated with other team members to ensure code was clean, efficient, and up to
            company standards            
           </li>
           <li>Created a functional prototype that was fully funded and is currently used across the
            company            
           </li>
        </div>
     </div>

     <div class ="row">
      <!--this is most recent job row-->
      <div class="col-sm-4">
         <div class="half-highlight job-title">Undergraduate Student</div>
         <!-- <div class="bubble">SWE</div> <div class="bubble">back-end</div> <div class="bubble">full-time</div> -->
         <div class="dates"><span class="employer">Rutgers University</span> | New Brunswick, NJ | SEP 2016 - MAY 2020
         </div>
         <!--need to restructure this for responsiveness-->
         <mat-chip-list>
            <mat-chip>EDUCATION</mat-chip>
            <mat-chip>COMPSCI</mat-chip>
            <mat-chip>PSYCHOLOGY</mat-chip>
          </mat-chip-list>
      </div>
      <div class="col-sm-8 job-description leftBorder">
         <li>Bachelor of Science in Computer Science, minor in Psychology
         </li>
         <li>School of Arts and Sciences - Honors Program, Cum Laude graduate with GPA 3.58/4.00          
         </li>
         <li>Involved in Rutgers - Her Campus, Psi Chi, Women in Computer Science      
         </li>
      </div>
   </div>
   <div class ="row" style="padding-bottom: 30px;">
     <!--this is solely to add space so it doesn't look like the bar is running off the page-->
   </div>
     </div>
  </div>
</body>