<div class="body">
    <div class="innerContent" style="padding-top: 30px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">
              <div class='title' style="padding-top: 50px;">
              Hello there.
              </div>
              <div class="leftBorder">
                I'm Diana Del Gaudio, a <span class="half-highlight">software engineer at ADP</span>, graphic designer, and freelance website creator based in  Roseland, New Jersey.
              </div>
              <div style="padding-top:30px;">
                <a href="https://www.linkedin.com/in/diana-del-gaudio/" class="fab fa-linkedin-in"></a>
                <a href="https://github.com/dianadelg" class="fab fa-github"></a>
                <a href="mailto: ddelgaudio347@gmail.com"class="fa fa-envelope"></a>
              </div> 
            </div>
            <div class="col-sm hidden-lg hidden-md hidden-sm hidden-xs myImg">
              <img class="responsive" src="/assets/images/me_icon.png" alt="me!">
            </div>
          </div>
          <div class ="row" style="padding-bottom: 20px;">
            <!--padding under icons -->
          </div>
        </div>
    </div>
</div>