<head>
    <link rel="stylesheet" href="https://use.typekit.net/lrc3vfy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="innerContent" style="padding-top: 30px;">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm">
                <!--EXAMPLE OF CARD-->
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Deja Brew</mat-card-title>
                      <mat-card-subtitle>2021</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        A brew-tiful coffee shop website that combines my passions -- coffee, coding, and puns.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-chip-list>
                            <mat-chip>MEAN</mat-chip>
                            <mat-chip>RESPONSIVE</mat-chip>
                            <mat-chip>GRAPHIC DESIGN</mat-chip>
                          </mat-chip-list>
                    </mat-card-actions>
                  </mat-card>
             </div>

             <div class="col-sm">
                <!--EXAMPLE OF CARD-->
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>dianadel.github.io</mat-card-title>
                      <mat-card-subtitle>2021</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        My resume but because I'm a developer, it's in website-form. 
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-chip-list>
                            <mat-chip>ANGULAR</mat-chip>
                            <mat-chip>RESPONSIVE</mat-chip>
                            <mat-chip>PORTFOLIO</mat-chip>
                          </mat-chip-list>
                    </mat-card-actions>
                  </mat-card>
             </div>
             <div class="col-sm">
                <!--EXAMPLE OF CARD-->
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Minesweeper Solver</mat-card-title>
                      <mat-card-subtitle>2020</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Agents that solve Minesweeper using probability better than I can.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-chip-list>
                            <mat-chip>JAVA</mat-chip>
                            <mat-chip>ARTIFICIAL INTELLIGENCE</mat-chip>
                            <mat-chip>PROBABILITY</mat-chip>
                          </mat-chip-list>
                    </mat-card-actions>
                  </mat-card>
             </div>
          </div>
          <div class ="row">
             <!--need to add space here-->
          </div>
          </div>
          </div>
  </body>