<div class="body">
    <div class="innerContent" style="padding-top: 30px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">
              <div class='title' style="padding-top: 50px;">
                About me
            </div>
              <div class="leftBorder">
                A 2020 graduate in <span class="half-highlight">computer science</span> and psychology, with interests in UX/UI, <span class="half-highlight">full-stack</span>  development, 
                and making the digitial world more <span class="half-highlight">accessible</span>  for all people. Advocate for <span class="half-highlight">parity in STEM</span> and mental health
                awareness. Passionate about helping others and making the technological world a bit more <span class="half-highlight">human</span> . 
              </div>
            </div>
          </div>
        </div>
    </div>
</div>