<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
        <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
        <li><a routerLink="/experience" routerLinkActive="active">EXPERIENCE</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">PROJECTS</a></li>
      </ul>
    </nav>
  </body>
</html>


